<app-header />

<main>
  <ul id="users">
   @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelecteUser($event)"  [selected]="user.id === selectedUserId"/>
    </li>
   }
  </ul>

  <!-- <ul id="users">

     <li *ngFor="let user of users">
       <app-user [user]="user" (select)="onSelecteUser($event)" />
     </li>

   </ul> -->

  @if(selectedUser){

    <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"/>

  }@else {
    <p id="fallback">Selecione um usuário para ver as suas tarefas!</p>
  }

  <!-- <app-task *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />

  <ng-template #fallback>
    <p id="fallback">Selecione um usuário para ver as suas tarefas!</p>
  </ng-template> -->

</main>
