
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #6c5b7b #120a1f;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #120a1f; /* Tom escuro suave */
  border-radius: 10px;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #6c5b7b; /* Roxo acinzentado suave */
  border-radius: 10px;
  border: 2px solid #120a1f;
  transition: background 0.3s ease;
}

/* Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #a084ca; /* Lilás sutil para melhor UX */
}


